.navbar-main {
    position: fixed;
    bottom: 10px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.home-btn {
    font-size: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.dock {
    height: 50px;
    width: 50px;
    background-color: rgb(52, 52, 217);
}

.spiral-icon {
    height: 40px;
    width: 40px;
    color: white;
}
